@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    color: #ffffff;
}

body {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: column;
}

/*inicio do header*/

header {
    width: 100%;
    background-color: #1b1b1b;
    display: flex;
    justify-content: center;
    border-bottom: 2px solid #8c00ff;
}


/*Para que o conteudo respeite a grid coloquei 62%
para que ocupe um espaço de 1190px no centro quando a estiver em uma tela full*/

nav {
    height: 130px;
    width: 70%;
    max-width: 90%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: #ffffff;
    font-size: 0.9em;
}


/* 
.menu_de_navegacao{
    display: flex;
    width: 840px;
    justify-content: space-around;
    
} */
/* A maneira que encontrei de ajeitar o erro no header */
.menu_de_navegacao {
    display: flex;
}

.paginas {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 60%;
    display: flex;
    flex-direction: row;
}

.paginas a {
    color: #ffffff;
    text-decoration: none;
    list-style-type: none;
    justify-content: space-around;
}

.paginas ul {
    width: 100%;
    list-style: none;
    display: flex;
    justify-content: space-around;
}

.paginas ul li{
    position: relative;
    z-index: 2;
    transition: all 0.6s cubic-bezier(0.79, 0.07, 0.27, 0.96);
    background-color: rgba(0,0,0,0);
}

.paginas ul li a{
    background-color: rgba(0,0,0,0);
}

.paginas ul li:hover{
    box-shadow: 4px 13px 34px rgba(0,0,0,80%);
    transition-delay: 0.5s;
    -webkit-transition-delay: 0.5s; 
}

.btn-menu::before{
    background: #8c00ff;
    content: "";
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: -1;
    position: absolute;
    transition: all 0.6s cubic-bezier(0.93, 0.15, 0, 1.25);
    border-radius: 7px;
  }
  
  .btn-menu::before{
    width: 0%;
    height: 45px;
  }
  
  .btn-menu:hover::before{
    width: 140%;
  }



.login-cadastro {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 325px;
}

.criar_conta {
    height: 45px;
    width: 140px;
    background-color: #8c00ff;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    border-radius: 7px;
    transition: all 0.6s cubic-bezier(0.93, 0.15, 0, 1.25);
    text-decoration: none;
    
}

.criar_conta:hover{
    box-shadow: 4px 13px 34px rgba(0,0,0,80%);
}



.entrar {
    height: 45px;
    width: 130px;
    border: 2px solid #8c00ff;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 7px;
    margin-right: 10%;
    text-decoration: none;
    position: relative;
    transition: all 0.6s cubic-bezier(0.79, 0.07, 0.27, 0.96);
    z-index: 2;
}

.entrar:hover{
    box-shadow: 4px 13px 34px rgba(0,0,0,80%);
}

.btn-animacao::before{
    background: #8c00ff;
    content: "";
    top: 50%;
    left: 0%;
    transform: translate(0%, -50%);
    z-index: -1;
    transition: all 0.6s cubic-bezier(0.79, 0.07, 0.27, 0.96);
    position: absolute;
    border-radius: 7px;
  }
  
  .btn-animacao::before{
    width: 0%;
    height: 45px;
  }
  
  .btn-animacao:hover::before{
    width: 100%;
  }

/*inicio do fim do header*/

/* FOOTER */

footer {
    width: 100%;
    background-color: #1B1B1B;
    z-index: 99;
    /* position: absolute; */
    /* margin-top: 127.5vh; */
    bottom: 0px;
    padding-top: 30px;
    padding-right: 175px;
    padding-bottom: 30px;
    z-index: 0;
    display: flex;
    justify-content: space-around;
    border-top: 2px solid #8c00ff;

}

footer div {
    width: 100%;
    display: flex;
    flex-direction: row;
    max-width: 1170px;
}

#sobre-ajuda{
    display: flex;
    flex-direction: row;
}

footer div div {
    margin: auto 0;
    display: inline-block;
    text-align: center;
    flex: 1;
}

footer div div img {
    margin-top: 20px;
}

footer div div p {
    color: #FCFCFC;
}

footer div div span {
    color: #FCFCFC;
}

footer div div p.endereco {
    font-size: 12px;
    margin-top: 20px;
}

footer div div p.sobre {
    font-size: 12px;
    line-height: 35px;
    text-align: initial;
}

footer div div p span {
    font-weight: bold;
}


@media (max-width: 995px) {
    header {
        border-bottom: none;
        width: 100%;
    }

    header nav {
        flex-wrap: wrap;
        width: 100%;
    }

    footer div div p.sobre {
        text-align: center;
    }

    .paginas {
        width: 100%;
        order: 1;
    }

    .paginas ul li a {
        font-size: 3vw;
    }

    .login-cadastro {
        padding-left: 2vw;
        width: 69%;
    }

    .login-cadastro a {
        font-size: 2.5vw;
    }

    .logo-header {
        width: 29%;
    }

    .logo-header a img {
        width: 100%;
    }

    .entrar, .criar_conta {
        width: 21vw
    }

    footer{
        flex-wrap: wrap;
        padding-right: 0px;
    }

    footer div {
        width: 100%;
        flex-direction: column;
        align-items: center;
    }

    #sobre-ajuda{
        display: flex;
        justify-content: center;
        padding-top: 20px;
        width: 60%;
        flex-wrap: wrap;
    }

    .tab2{
        padding-right: 10px;
    }

    .tab3{
        padding-left: 10px;
    }

    body {
        background-color: #1B1B1B;
    }

}

@media (max-width: 320px){
    #sobre-ajuda{
        height: 340px;
        flex-direction: column;
        justify-content: space-around;
    }

    .tab3{
        padding-left: 0px;
    }


}