.main{
    display: flex;
    flex-direction: row;
    width: 100%;
    background-color:#1b1b1b;
    z-index: 0;
    box-shadow:-2px 9px 22px black ;
    padding-top: 20px;
}

.divmulher{
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-between;
    padding-top: 40px;
    background-color: #8c00ff;
    flex-grow: 1;
}
.mulher{
    width: 61%;
    margin-right: 67px;
    margin-top: -33px;
    
}

.icone-main-text{
    width: 62%;
    display: flex;
    flex-direction: row;
    align-items: center;
    z-index: 2;
}

.text{
    width: 100%;
    padding-right: 50px;
}

.iconemsg{
    margin: 0px 53px;
}

h1{

    font-size: 40px;
    font-weight: 600;
}

.msgsmall{
    display: inline-block;
    width: 100%;
    height: auto;
    position: absolute;
    
}
#textarea{
    border: 1px solid #fff;
    background-color: rgba(0,0,0,0);
    height: 200px;
    max-height: 200px;
    max-width: 450px;
    min-height: 200px;
    padding: 5px;
    padding-left: 16px;
    border-radius: 7px;
}
.form-contato{
    display: flex;
    align-self: center;
    justify-content: center;
    flex-grow: 5;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 3vw;   
    margin: 8vw 8vw;
    box-shadow: -6px 22px 50px rgba(0,0,0,70%);
    border-left: 40px solid #8c00ff;
    max-width: 560px;
}

.formulario-contato{
    min-width: 330px;
    width: 450px;
    height: 45px;
    margin: 0 0 25px 0;
    background-color: rgba(0,0,0,0);
    box-shadow: none;
    padding-left: 10px;
}


button{
    background-color: blueviolet;
    width: 450px;   
    height: 45px;
    font-size: 16px;
    font-weight: 600;
}

@media (max-width:1024px){
    .form-contato{
        margin: 4vw 3vw;
    }
    .mulher{
        width: 100%;
    }

    .divmulher {
        align-items: center;
    }

}

@media(max-width:1440px){
    .iconemsg{
        margin: 0;
    }
}

@media (max-width:995px){
    .main{
        display: flex;
        flex-direction: column;
        width: 100%;
        background-color:#1b1b1b;
        z-index: 0;
        box-shadow:-2px 9px 22px black ;
        padding-top: 20px;
    }
    
    .divmulher{
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        justify-content: space-between;
        padding: 22px;
        background-color: #8c00ff;
        flex-grow: 1;
    }
    .mulher{
        display: none;       
    }

    h1{
        font-size: 28px;
    }

    .icone-main-text{
        width: 100%;
        display: flex;
        flex-direction: row;
        align-items: center;
        z-index: 2;
    }
    
    .form-contato{
        border-left: none;
        box-shadow: none;
    }

}

@media (max-width:535px) {
    .icone-main-text{
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .text{
        width: 100%;
        padding: 0px 20px;
    }

    
    .formulario-contato{
        min-width: 60vw;
        width: 90vw;
        height: 45px;
        background-color: rgba(0,0,0,0);
        box-shadow: none;
        padding-left: 10px;
    }

    #textarea{
        border: 1px solid #fff;
        background-color: rgba(0,0,0,0);
        height: 200px;
        max-height: 60px;
        max-width: 90vw;
        min-height: 200px;
        padding: 5px;
        padding-left: 16px;
        border-radius: 7px;
    }

    button{
        background-color: blueviolet;
        width: 90vw;   
        height: 45px;
        font-size: 16px;
        font-weight: 600;
    }

    .form-contato{
        border-left: none;
        box-shadow: none;
    }

    
}
