/* esconder o botão de entrar */
.hide {
    display: none;
}

.show {
    display: block;
}

.lista-erro {
    font-size: 14px;
    margin-bottom: .5vw;
}

.lista-erro li {
    color: #bb4430;
    margin: .25vw 0;
    font-size: 1.1rem;
    font-weight: bold;
    margin-top: 1.25vh;
}

/* formulario */
.caixa__formulario {
    width: 100%;
    background-color: #1B1B1B;
    padding-bottom: 15vh;
}

#formulario {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5vw;
}

.titulo {
    margin-top: 1.5vw;
    font-weight: bold;
    font-size: 2rem;
    text-transform: uppercase;
}

.caixa__formulario--grupo {
    width: 100%;
    display: flex;
    flex-direction: column;
}

#email,
#senha {
    margin: .5vw auto;
    width: 30%;
    padding: .5%;
    border-radius: 5px;
    border: 1px solid #eee;
    background-color: #1B1B1B;
}

#email:focus {
    border: 0.5px solid #eee;
    /* #8C00FF */
}

.caixa__formulario--btn {
    margin: 1vw 0;
    width: 100%;
    display: flex;
    justify-content: center;
}

#btn-entrar {
    width: 30%;
    padding: .8%;
    background-color: #8c00ff;
    color: #fff;
    border-radius: 8px;
    align-self: center;
    justify-content: center;
}

/* até telas de 995px */
@media(max-width:995px) {
    #formulario {
        padding: 4vw;
    }

    .titulo {
        font-size: 1.2rem;
    }

    .lista-erro {
        margin-top: .8vh;
    }

    .lista-erro li {
        font-weight: bold;
        font-size: .75rem;
        font-style: italic;
    }

    .caixa__formulario .formulario {
        height: 50vh;
    }

    .caixa__formulario--grupo,
    .caixa__formulario--btn {
        width: 80%;
    }

    #email, #senha, #btn-entrar, #titulo {
        width: 80%;
        margin: 2vh;
    }

    .caixa__formulario {
        margin: 0;
        padding: 0;
        height: 50vh;
    }

    /* .caixa__formulario--grupo {
            height: 100%;

    } */

    #formulario {
        width: 100%;
        /* height: 50vh; */
        /* margin: auto auto; */
        /* vertical-align: center; */
        /* display: flex; */
        /* flex-direction: column; */
    }

    .caixa__formulario {
        display: flex;
        justify-items: center;
        align-items: center;
    }
}

/* a partir de telas de 450px até telas de 995px*/
/* @media (min-width: 450px) and (max-width:990px) { */

    /* coloquei o and(max-width:990px) pq tava interferindo no estilo da tela grande (a q começamos fazendo) */
    /* #formulario {
        padding: 10vw;
    }

    .titulo {
        font-size: .9rem;
    }


    .caixa__formulario--grupo,
    .caixa__formulario--btn {
        width: 100%;
    }

    #email,
    #senha {
        width: 45%;
        padding: .95vh;
        margin: 0.8vw auto;
    }

    #btn-entrar {
        padding: 1vh;
        width: 45%;
    }

} */