@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: #1b1b1b;
    font-family: "Montserrat", sans-serif;
    color: #ffff;
}
/*Configuração das caixas*/
main{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin: 50px 0;
}

article{
    display: flex;

}

.card-apresentacao{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 720px;
}

.texto{
    margin-left: -10px;
    background-color: rgba(0,0,0,0);
}

h1{
    font-size: 35px;
    margin-bottom: 5px;
    background-color: rgba(0,0,0,0);
}

em {
    background-color: rgba(0,0,0,0);
}

/*integrante começa aqui*/

.integrante-direita{
    display: flex;
    flex-direction: row;
    width: 60%;
    justify-content: space-around;
    margin: 65px 0;
}

.texto-integrante{
    display: flex;
    flex-direction: column;
    width: 45%;
}

.foto-integrante{
    width: 40%;
}

.foto-integrante img{
    width: 90%;
    margin-right: 35px;
}

.texto-integrante ul{
    display: flex;
    flex-direction: row;
    justify-content: space-between;

}

.icones{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 175px;
}

.icones img{
<<<<<<< HEAD
    width: 20px;
    height: 20px;
}
.decorativos{
    padding-left: 20px;
    width: 150px;
    height: 25px;
=======
    height: 25px;
}

.icones li{
    list-style-type: none;

}

h2{
    font-size: 44px;
    font-weight: 900;
    text-transform: uppercase;
}

p{
    font-size: 20px;
    width: 90%;
}


@media(max-width:995px){

    .card-apresentacao{
        flex-direction: column;
        width: 90%;
        align-items: center;
    }

    h1{
        text-align: center;
        padding: 10px;
    }
    
    em {
        text-align: center;
        padding: 10px;
        font-size: 12px;
        max-width: 90%;
        align-self: center;
    }
    

    .integrante-direita{
        flex-direction: column;
        width: 100%;
        align-items: center;
    }

    .em-baixo{
        flex-direction: column-reverse;

    }

    .icones img{
        margin-bottom: 10px;
    }

    .foto-integrante{
        margin-bottom: 15px;
    }
>>>>>>> 659bdd86c3fb06ef41d88d71546f56364e8a38b2
}
