/* esconder o botão de entrar */
.hide {
    display: none;
}

.show {
    display: block;
}

.lista-erro {
    font-size: 14px;
    margin-bottom: .5vw;
}

.lista-erro li {
    color: #bb4430;
    margin: .25vw 0;
    font-size: 1.1rem;
    font-weight: normal;   
    margin-top: 1.25vh;
}

/* formulario */
body{
    background-color: #1B1B1B;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.caixa__formulario {
    width: 100%;
    background-color: #1B1B1B;
}

#email #senha{
    border: 1px solid #fff;
    background-color: rgba(0,0,0,0);
    height: 45px;
    width: 80%;
    padding: 5px;
    padding-left: 16px;
    margin: 20px 0px;
    border-radius: 7px;
}

.caixa__formulario div input {
    border: 1px solid #fff;
    background-color: rgba(0,0,0,0);
    height: 45px;
    width: 80%;
    padding: 5px;
    padding-left: 16px;
    margin: 20px 0px;
    border-radius: 7px;
}

#formulario {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 3vw;
    width: 90%;
    max-width: 525px;
    margin: 8vw auto;
    box-shadow: -6px 22px 50px rgba(0,0,0,70%);
    border-left: 100px solid #8c00ff;
}

.titulo {
    margin-top: 0;
    font-weight: bold;
    font-size: 1.5rem;
    text-transform: uppercase;
    /* font-size: 3rem; */
}

.caixa__formulario--grupo {
    /* width: 100%; */
    display: flex;
    flex-direction: column;
    width: 100%;
}

#email,
#senha {
    border: 1px solid #eee;
    background-color: #1B1B1B;
    margin: 1.2vw auto;
    border-radius: 7px;
    width: 100%;
    text-align: left;
    height: 45px;
    padding: 5px;
    width: 100%;
}

#email:focus {
    border: 0.5px solid #eee;
    /* #8C00FF */
}

.caixa__formulario--btn {
    margin: 1vw 0;
    /* width: 100%; */
    display: flex;
    justify-content: center;
    width: 100%;
    border-radius: 7px;
    height: 45px;
    width: 100%;
    border: none;
}

#btn-entrar {
    /* width: 30%;
    padding: .8%; */
    background-color: #8c00ff;
    color: #fff;
    /* border-radius: 8px; */
    align-self: center;
    justify-content: center;
    width: 100%;
    /* padding: 1vw; */
    /* margin-top: .8vw; */

    font-size: 1.2rem;
    padding: .5vw;
    border-radius: 7px;
    height: 45px;
    /* margin-top: 0; */ 
    border:  none;
}

::-webkit-input-placeholder {
    color: #fff;
    font-size: 16px;
 }
 
 :-moz-placeholder { /* Firefox 18- */
    color: #fff;
    font-size: 16px; 
 }
 
 ::-moz-placeholder {  /* Firefox 19+ */
    color: #fff;
    font-size: 16px; 
 }
 
 :-ms-button-placeholder {  
    color: #fff; 
    font-size: 16px; 
 }

 @media(max-width:995px){
    #formulario {
        box-shadow: 0px 0px 0px rgba(0,0,0,0);
        border-left: none
    }
 }